<a href="https://colab.research.google.com/github/benjaminjeremiah/HamoyeDataScience/blob/master/lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

FileNotFoundError: ignored

In [3]:
import numpy as np

In [4]:
url = "https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true"

In [5]:
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [6]:
fuel_data.describe(include='all')

                     record_id  ...  fuel_cost_per_mmbtu
count                    29523  ...         29523.000000
unique                   29523  ...                  NaN
top     f1_fuel_2007_12_6_0_14  ...                  NaN
freq                         1  ...                  NaN
mean                       NaN  ...            19.304354
std                        NaN  ...          2091.540939
min                        NaN  ...           -41.501000
25%                        NaN  ...             1.940000
50%                        NaN  ...             4.127000
75%                        NaN  ...             7.745000
max                        NaN  ...        359278.000000

[11 rows x 11 columns]

In [7]:
#check for missing values

In [8]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [9]:
#use groupby to count the sum of each unique value in the fuel unit column

In [10]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [11]:
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value='mcf') #used to fill empty datas that is missing datas

In [12]:
#check if the missing datas have been filled

In [13]:
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [14]:
fuel_data.describe(include='all')

                     record_id  ...  fuel_cost_per_mmbtu
count                    29523  ...         29523.000000
unique                   29523  ...                  NaN
top     f1_fuel_2007_12_6_0_14  ...                  NaN
freq                         1  ...                  NaN
mean                       NaN  ...            19.304354
std                        NaN  ...          2091.540939
min                        NaN  ...           -41.501000
25%                        NaN  ...             1.940000
50%                        NaN  ...             4.127000
75%                        NaN  ...             7.745000
max                        NaN  ...        359278.000000

[11 rows x 11 columns]

In [15]:
fuel_data.groupby('report_year')['report_year'].count() #year of the datas with the number of time they appear

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [16]:
#groupby the fuel type code year and print the first entries in all the groups formed

In [17]:
fuel_data.groupby('fuel_type_code_pudl').first()

                                  record_id  ...  fuel_cost_per_mmbtu
fuel_type_code_pudl                          ...
coal                  f1_fuel_1994_12_1_0_7  ...                1.121
gas                  f1_fuel_1994_12_2_0_10  ...                2.570
nuclear               f1_fuel_1994_12_2_1_1  ...                0.450
oil                   f1_fuel_1994_12_6_0_2  ...                5.469
other                f1_fuel_1994_12_11_0_6  ...                2.335
waste                 f1_fuel_1994_12_9_0_3  ...                1.072

[6 rows x 10 columns]

In [18]:
fuel_df1 = fuel_data.iloc[0:19000].reset_index(drop=True)

In [19]:
fuel_df2 = fuel_data.iloc[19000:].reset_index(drop=True)

In [20]:
#check the length of both dataframes sum to the expected length

In [21]:
assert len(fuel_data) == (len(fuel_df1) + len(fuel_df2))

In [22]:
pd.merge(fuel_df1, fuel_df2, how='inner') #an inner merge will loss cells that does not match in both dataframes

Empty DataFrame
Columns: [record_id, utility_id_ferc1, report_year, plant_name_ferc1, fuel_type_code_pudl, fuel_unit, fuel_qty_burned, fuel_mmbtu_per_unit, fuel_cost_per_unit_burned, fuel_cost_per_unit_delivered, fuel_cost_per_mmbtu]
Index: []

In [23]:
pd.merge(fuel_df1, fuel_df2, how='outer') #an outer merge return all rows in dataframes

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [24]:
pd.merge(fuel_df1, fuel_df2, how='left') #removes row from the right that does not match the left

                      record_id  ...  fuel_cost_per_mmbtu
0         f1_fuel_1994_12_1_0_7  ...                1.121
1        f1_fuel_1994_12_1_0_10  ...                1.120
2         f1_fuel_1994_12_2_0_1  ...                1.650
3         f1_fuel_1994_12_2_0_7  ...                1.970
4        f1_fuel_1994_12_2_0_10  ...                2.570
...                         ...  ...                  ...
18995   f1_fuel_2009_12_182_1_9  ...                4.711
18996  f1_fuel_2009_12_182_1_10  ...               14.634
18997  f1_fuel_2009_12_182_1_13  ...                1.107
18998  f1_fuel_2009_12_182_1_14  ...               15.102
18999    f1_fuel_2009_12_79_0_1  ...                1.727

[19000 rows x 11 columns]

In [25]:
fuel_data.duplicated().any()

False